{% extends 'songs/layout.html' %}
{% block title %} Edit songs {% endblock %}
{% block content %}

<div class="row">
	<div class="col-md-4 offset-md-4 text-center">
		<h2 style="color:#24285E">Edit Song</h2>
		<div class="card">
	<div class="card-body" style="background-color:#24295E">


	<form action="" method="POST">

        {% csrf_token %}
		<div class="form-group">
			<label for="id_tittle"><h5 style="color:#ffffff">Tittle:</h5></label>
			<input type="text" name="tittle" maxlength="100000" required="" id="id_tittle" class="form-control">
		</div>
		<div class="form-group">
			<label for="id_artist"><h5 style="color:#Ffffff">Artist:</h5></label>
			<input type="text" name="artist" maxlength="100" required="" id="id_artist" class="form-control">
		</div>
		<div class="form-group">
			<label for="id_year"><h5 style="color:#Ffffff">Year:</h5></label>
			<input type="text" name="year" maxlength="100" required="" id="id_year" class="form-control">
		</div>
        <div class="form-group">
			<label for="id_genre"><h5 style="color:#ffffff">Genre:</h5></label>
			<input type="text" name="genre" maxlength="100" required="" id="id_genre" class="form-control">
		</div>
        <br />
		<div class="d-grid gap-2">
			<button style="background-color:#1EFA04"><h5 style="color:#000000">Agregar datos</h5></button>
		</div>
	</form>

{% endblock %} 